.ui.modal > .header{
  background-color: rgba(51, 51, 51, 1) !important;
  color:white;
}
.ui.modal > .content{
  background-color: rgba(51, 51, 51, 1) !important;
}
.ui.content.container h3.header {
  margin-top: 0px;
  font-size: 22px;
}

.ui.cont.container {
  height: 800px;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.alignleft {
	float: left;
  padding-left: 20px;
}
.alignright {
	float: right;
  padding-right: 20px;


}
.center {
  padding: inherit;
}
