.ui.modal > .header{
  background-color: rgba(51, 51, 51, 1) !important;
  color:white;
}
.ui.modal > .content{
  background-color: rgba(51, 51, 51, 1) !important;
}
.ui.content.container h3.header {
  margin-top: 0px;
  font-size: 22px;
}

.ui.cont.container {
  height: 800px;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.alignleft {
	float: left;
  padding-left: 20px;
}
.alignright {
	float: right;
  padding-right: 20px;


}
.center {
  padding: inherit;
}

.shape{
  fill-opacity: .3;
  stroke-width: 2
}

.shape:hover{
  fill-opacity: .65 ;
  z-index: 100;
}

.scale {
  fill: rgba(51, 51, 51, 1);
  stroke: #fafafa;
  stroke-width: 2
}

.axis {
  stroke: #fafafa;
  stroke-width: 2;
}

.caption{
  fill: #fafafa;
  font-weight: 100;
  text-shadow: 2px 2px 1 #fff
}

.ui.inverted.segment {
  background-color: rgb(51, 51, 51);

}

.ui.Comments.segment {
  background-color: rgb(70,70,70);

}

.ClassContent {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px
}

.CommentAuthor {
  color: #fff
}

.CommentContent {
  color: #fff
}

.prediction_content{
  color: forestgreen;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}