body {
  background-color: rgb(52, 52, 52);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.ui.login.container {
  margin-top: 50px;
  width: 500px !important;
  background-color: inherit;
}

.ui.large.form > .field:first-child {
  margin-bottom: 0;
}
